<%= link_to "New Inventory Transaction", new_inventory_transaction_path %><hr>
<table style="width: 100%;">
  <tr>
    <th>Date</th>
    <th>Inventory Item ID</th>
    <th>Quantity</th>
  </tr>
  <% @inventory_transactions.each do |inventory_transaction| %>
    <tr>
      <td><%= inventory_transaction.transacted_at %></td>
      <td><%= inventory_transaction.inventory_item_id %></td>
      <td><%= inventory_transaction.quantity %></td>
      <td>
        <%= link_to "Edit", edit_inventory_transaction_path(inventory_transaction.id) %>
        <%= link_to "Delete", destroy_inventory_transaction_path(inventory_transaction.id), :method => :delete, :data => { :confirm => "Are you sure?" } %>
      </td>
    </tr>
  <% end %>
</table><hr>
<%= link_to "Go back to home", root_path %>