<h1><%= @inventory_transaction.name %></h1>
<small>Code: <%= @inventory_transaction.code %></small><br>
<small>Description: <%= @inventory_transaction.description %></small><br>

<hr><br><br>
<%= link_to "Back to inventory items", inventory_transactions_path %><br>
<%= link_to "Back to home", root_path %>
