<h1>Edit Item</h1>

<%= simple_form_for(@item, :url => update_item_path, :method => :post) do |f| %>
  <%= f.input :name %>
  <%= f.input :code %>
  <%= f.input :description %>
  <%= f.submit "Save Item" %>
<% end %>
