<%= link_to "New Item", new_item_path %><hr>
<table style="width: 100%;">
  <tr>
    <th>Item Name</th>
    <th>Item Code</th>
    <th>Item Description</th>
  </tr>
  <% @items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.code %></td>
      <td><%= item.description %></td>
      <td>
        <%= link_to "Edit", edit_item_path(item.id) %>
        <%= link_to "Delete", destroy_item_path(item.id), :method => :delete, :data => { :confirm => "Are you sure?" } %>
      </td>
    </tr>
  <% end %>
</table><hr>
<%= link_to "Go back to home", root_path %>