<h1><%= @item.name %></h1>
<small>Code: <%= @item.code %></small><br>
<small>Description: <%= @item.description %></small><br>

<hr><br><br>
<%= link_to "Back to items", items_path %><br>
<%= link_to "Back to home", root_path %>
