<%= link_to "New Item", new_item_path %>
<table style="width: 100%;">
  <tr>
    <th>Item Name</th>
    <th>Item Code</th>
    <th>Item Price</th>
    <th>Shop ID</th>
  </tr>
  <% @items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.code %></td>
      <td><%= number_to_currency(item.price, :unit => "Php") %></td>
      <td><%= item.shop %></td>
      <td>
        <%= link_to "Delete", destroy_shop_path(shop.id), :method => :delete, :data => { :confirm => "Are you sure?" } %>
      </td>
    </tr>
  <% end %>
</table>