<h1>Edit Contact</h1>

<%= simple_form_for(@contact, :url => update_contact_path, method: :post) do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.input :contact_number %>
  <%= f.submit "Save Contact" %>
<% end %>

