<h1><%= @touristattraction.name %></h1>
<hr>
	<p> &nbsp;&nbsp;&nbsp;&nbsp;Address: <%= @touristattraction.address %><br>
	&nbsp;&nbsp;&nbsp;&nbsp;Description: <%= @touristattraction.description %><br>
	&nbsp;&nbsp;&nbsp;&nbsp;Rating: <%= @touristattraction.rating %><br><br><br>
 
&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Home", root_path %>