<%= link_to "New Inventory Item", new_inventory_item_path %><hr>
<table style="width: 100%;">
  <tr>
    <th>Item ID</th>
    <th>Quantity</th>
  </tr>
  <% @inventory_items.each do |inventory_item| %>
    <tr>
      <td><%= inventory_item.item_id %></td>
      <td><%= inventory_item.quantity %></td>
      <td>
        <%= link_to "Edit", edit_inventory_item_path(inventory_item.id) %>
        <%= link_to "Delete", destroy_inventory_item_path(inventory_item.id), :method => :delete, :data => { :confirm => "Are you sure?" } %>
      </td>
    </tr>
  <% end %>
</table><hr>
<%= link_to "Go back to home", root_path %>